/* .n-navbar{
    background: none !important;
    position: absolute;
    z-index: 1;
} */

 /* #navbarNav{
    padding-left: 40rem !important;
} 

.nav-link{
    font-size: 1.2rem;
} */
/* need for mobile to be responsive */