.intro{
    position: relative;
    height: 40rem;
}

/* .n-navbar{
    opacity: 1 !important;
    
} */

.i-cont{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.i-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.i-text{
    margin-top:15rem ;
    z-index: 1;
}

.i-color{
    color: white;
    text-decoration: none;
}


/* //////////// details card //////////////*/


.D-card{
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body{
    padding: 1rem 0 0 5px !important;
}

.s-c-cont{
    display: flex;
    gap: 5px;
}



.s-room-image{
    width: 3rem;
    height: 2rem;
    color: darkblue;
    
}

.s-location{
    margin: 0 0 0 -10px;
}