.p-fullPage{
    display: flex;
    flex-direction: row;
    padding: 0 2rem;
    gap:2rem;
    width: 100%;
}

.p-firstPart{
    display: flex;
    flex-direction: column;
    background-color: blue;
    width: 10rem;
    height: 30rem;
}

.p-secondPart{
    display: flex;
    flex-direction: column;
}

.card{
    width: 60rem;
} 

.p-c-img{
    height: 18rem;
}

.c-c-img{
    width: 25rem;
}



